{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'main/Media/Byound_icon.png' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    
    <title>Extract Data</title>
</head>
<body>
    <div class="body">
        <div class="mainSection success">
            <div class="sideBar secA">
                <div class="iconWrapper">
                    <div class="icon">
                        <img src="/static/main/Media/Byound_icon_only.png" alt="">
                    </div>
                </div>
                <h2>BEYOND</h2>
                <h3>Bushiness Travel</h3>
            </div>
            
            <div class="loginContent secC">
                <h1>Files Uploaded Successfully</h1>
                
                
                <a href="{% url 'main:index'%}"> <i class="fa fa-hand-o-left"></i> Back to Main Menu</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>